<div class="flex flex-col max-w-lg text-2xl justify-center items-center mx-auto space-y-4 mt-4">
  <h1><%= @trip.name %></h1>
  <div class="flex flex-row space-x-4">
    <h2><%= @trip.start_date.to_date.to_formatted_s(:long) %></h2>
    <p>-</p>
    <h2><%= @trip.end_date&.to_date&.to_formatted_s(:long) || "Ongoing" %></h2>
  </div>
  <%= render(BlueButtonComponent.new(text: "Edit", link: edit_trip_path(@trip))) %>
<div>
